/* .container{
  height: 100%;
}
.starting-screen{
    position: relative;
    height: 100%;
}
.starting-screen .scrolling-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../pics/space-background.webp');
    animation: slide 40s linear infinite;
    filter: blur(1.5px);
}
.starting-screen .logo-description{
    position: absolute;
    left: 0;
    right: 105%;
    top: 40%;
    transform: translateX(-500);
    margin: 0 auto;
    color: white;
    animation: logo-animation-horizontal 4s forwards;
}
.starting-screen .logo-description .logo{
  width: 10%;
  transform-style: preserve-3d;
  transform: scale(1.5);
  animation: logo-zoom-out-in 4s linear;
  filter: blur(1px);
}
.starting-screen .logo-description h2{
  opacity: 0;
  width: fit-content;
  margin-top: 20px;
  margin: auto;
  animation: zoom-in 4s forwards;
  animation-delay: 4s;
  margin-top: 30px;
  filter: blur(1.5px);
} */
